@import "@/styles/_variables.scss";

.link {
  color: $blue;
  transition: transform 200ms ease;

  &:active {
    transform: scale(0.9);
  }

  svg {
    width: 8rem;
    height: 3.33rem;

    @media (min-width: 576px) {
      width: 11.15rem;
      height: 4.7rem;
    }
  }
}
