@import "@/styles/_variables.scss";

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 1.3em 3em;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 3em;
  transition: all 200ms ease;

  &:active {
    transform: scale(0.9);
  }

  // Variants
  &--primary {
    background: $accent-color;
    color: $white;

    @media (hover: hover) {
      &:hover {
        background: $white;
        color: $accent-color;
        border: 2px solid $accent-color;
      }
    }
  }

  &--secondary {
    background: $white;
    box-shadow: $shadow;
    border-radius: 0.625rem;
  }
}
