// Colors

$black: #111111;
$white: #fff;
$blue: #3f4e65;
$orange: #ffc85e;
$green: #1fd85d;
$red: #D81F1F;
$purple: #D06EFE;
$sky: #1FD8CD;
$gray: #5c6370;

$light-blue: #6DAEEA;
$light-gray: #EDEDED;

$bg: #e5e5e5;
$accent-color: $orange;

$shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);

// Typography
$base-font-family: "Inter", sans-serif;
$base-font-size: 12px;
